/* ==========================================================================
   VENDOR STYLES
   ========================================================================== */

/* ==========================================================================
   BASE STYLES
   ========================================================================== */

@import "base/palette";
@import "base/fonts";
@import "base/mymixins";

/* ==========================================================================
   MODULES STYLES
   ========================================================================== */
body {
    background-color:  #FFF059;
    padding: 50px 0px;
    background-image: url('/images/body-bg.png');
    background-repeat: repeat;
}

wrapper {
    padding: 20px;
    background-color: #F4F4F4;
    display: block;
    max-width: 650px;
    margin: 0 auto;
    border: 5px solid #EADE61;
    border-radius: 2px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

header {
    padding: 20px 10px;
    text-align: center;
    h1 {
        font-size: 2.5em;
    }
}

.description {
    .image {
        text-align: center;
        img {
            width:90%;
        }
    }
    
    .right-column {
        padding: 10px 35px;
        
        .product-info {
            margin-bottom:20px;

            legend {
                float: left;
                overflow: hidden;
                padding: 0;
                text-indent: -999px;
                vertical-align: top;
            }
            .price {
                margin-bottom:10px;
                strong {
                    font-size: 2em;
                    sup {
                        font-size: 0.4em;
                    }
                }
            }
            .ch-form-row {
                padding: 2px 0px;
                label {
                    text-align: left;
                    width: 60px;
                    padding: 2px 5px;
                }
                select {
                    margin: 2px 0px;
                }
            }
            .buy {
                margin:15px 0px 10px 5px;
            }
            .ch-form-hint {
                margin-left:5px;
            }
        } 
    }
}