/*
 * MercadoLibre UX Test v1.0
 * https://github.com/facualle/mercadolibre-ux-test/
 *
 * author: Facundo Allemand
 * http://www.fallemand.com
 */

/* ==========================================================================
   BASE STYLES
============================================================================ */
@import "base/variables";

/* ==========================================================================
   PRINCIPAL STYLES
============================================================================ */
body {
    background-color:  $background-color;
    padding: 50px 0px;
    background-image: url('../images/body-bg.png');
    background-repeat: repeat;
}

#wrapper {
    padding: 10px 20px;
    background-color: #F4F4F4;
    display: block;
    max-width: 650px;
    margin: 0 auto;
    border: 5px solid #EADE61;
    border-radius: 2px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

header {
    padding: 0px 10px 5px;
    h1 {
        font-size: 2.5em;
        line-height: 1em;
        letter-spacing: 0.7px;
    }
}

/* ==========================================================================
   CONTENT STYLES
============================================================================ */

.description {
    .image {
        width:90%;
        text-align: center;
        img {
            width:95%;
        }
    }
    
    .right-column {
        width:95%;
        .buy-product {
            padding: 10px 25px;
            margin-bottom:10px;

            legend {
                float: left;
                overflow: hidden;
                padding: 0;
                text-indent: -999px;
                vertical-align: top;
            }
            .price {
                margin-bottom:10px;
                strong {
                    span {
                        font-size: 2.5em;
                    }
                    sup {
                        font-size: 0.4em;
                    }
                }
            }
            .ch-form-row {
                padding: 2px 0px;
                label {
                    text-align: left;
                    width: 60px;
                    padding: 2px 5px;
                }
                select {
                    margin: 2px 0px;
                }
            }
            .buy {
                margin:15px 0px 10px 5px;
            }
            .ch-form-hint {
                margin-left:5px;
            }
        } 
    }
    
    .similar-products {
        margin-left: 25px;
        .ch-shownby-pointerenter {
            cursor: pointer;
        }
    }
}

/* ==========================================================================
   CHICO UI MODIFICATIONS STYLES
============================================================================ */

.ch-carousel-disabled {
    display: block;
    opacity: .7;
}

.ch-carousel.ch-carousel-sm {
    margin-left:-15px;
    overflow-y: hidden;
    li {
        margin-right:5px !important;
        img{
            max-width: 60px;
            height: 55px;
            padding: 2px;
            margin:0px;
        }
    }
    
}

.ch-carousel-next, .ch-carousel-prev {
    width:40px;
}
.ch-carousel-mask {
    margin: 0 45px;
}

.ch-color-ok {
    color: $ch-color-ok;
}

.ch-color-info {
    color: $ch-color-info;
}

hr {
    border-bottom: 1px dashed #ccc;
}

/* ==========================================================================
   ONLY CSS TABS
============================================================================ */

.css-tabs {
    position: relative;   
    clear: both;
    margin-top:10px;
    min-height: 180px;
    
    .tab:first-child label {
        margin-left:20px;
    }
    
    .tab {
        float: left;
        label {
            margin-left:4px;
            position: relative;
            left: 1px; 
            top: 0px;
            transition: background-color .17s linear;
            cursor: pointer;
        }
        .tab-content {
            position: absolute;
            top: 27px;
            left: 0;
            background: white;
            right: 0;
            padding: 5px 10px;
            border: 1px solid #ccc; 
            transition: opacity .4s linear;
            opacity: 0;
        }
        input[type="radio"] {
            display: none;   
        }
        input[type="radio"]:checked ~ label {
            background: white;
            z-index: 2;
            background-image: linear-gradient(#EEE,#FFF 25px);
            border-bottom: 1px solid #FFF;
            font-weight: 700;
            letter-spacing: -0.6px;
        }
        input[type="radio"]:checked ~ label ~ .tab-content {
            z-index: 1;
            opacity: 1;
        }
    }
}

/* ==========================================================================
   MEDIA QUERIES
============================================================================ */

 /* Extra Small Devices, Phones */ 
@media only screen and (max-width : 720px) {
    header h1 {
        font-size: 1.8em;
    }
}